<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="row n">
    <div class="col-md-6 logo">
      <img src="assets/logo.png" />
      <a class="txtlogo align-middle">MATEMATICA EN RUTA</a>
  </div>
    <div class="col-md-2">
      <span></span>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control float-end form-rounded" placeholder="Buscar" />
    </div>
      <div class="col-md-1">
        <a class="btn-mer-blanco float-end" href="#">Registrarse</a>
      </div>
      <div class="col-md-1">
        <a class="btn-mer float-start" href="#"><b>Ingresa</b></a>
      </div>
</div>
<div class="row subheader">
  <div class="col-md-6">
    <b><i class="bi bi-list colprin" (click)="openNav()"></i> {{nombreSeccionActiva}}</b>
  </div>
  <div class="col-md-6 float-end align-middle">
    <i class="bi bi-gear-fill float-end iconsize align-middle"></i>
    <i class="bi bi-basket float-end iconsize align-middle"></i> 
  </div>
</div>
<div class="main">
  <div *ngIf="showLoading" id="loading"><br /><br />
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
    Cargando...
  </div>
  <div class="row" *ngIf="!showLoading">
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>1° BÁSICO</b>
      </div>
      <div *ngFor="let oa1 of oasMapa1; let i = index">
        <div class="cardOa" [style.height]="oa1.cardHeight + 'px'">
          {{oa1.descripcion}}
        </div>
        <div class="cardOaname">
          <b>{{oa1.nombre}}</b>
          <i class="bi bi-chevron-down" (click)="expandCard(i, 1)"></i>
          <a href="#/mapas/{{idRed}}"><i class="bi bi-pin-map-fill"></i> Ver en el Mapa</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>2° BÁSICO</b>
      </div>
      <div *ngFor="let oa2 of oasMapa2; let i = index">
        <div class="cardOa" [style.height]="oa2.cardHeight + 'px'">
          {{oa2.descripcion}}
        </div>
        <div class="cardOaname">
          <b>{{oa2.nombre}}</b>
          <i class="bi bi-chevron-down" (click)="expandCard(i, 2)"></i>
          <a href="#/mapas/{{idRed}}"><i class="bi bi-pin-map-fill"></i> Ver en el Mapa</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>3° BÁSICO</b>
      </div>
      <div *ngFor="let oa3 of oasMapa3; let i = index">
        <div class="cardOa" [style.height]="oa3.cardHeight  + 'px'">
          {{oa3.descripcion}}
        </div>
        <div class="cardOaname">
          <b>{{oa3.nombre}}</b>
          <i class="bi bi-chevron-down" (click)="expandCard(i, 3)"></i>
          <a href="#/mapas/{{idRed}}"><i class="bi bi-pin-map-fill"></i> Ver en el Mapa</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>4° BÁSICO</b>
      </div>
      <div *ngFor="let oa4 of oasMapa4; let i = index">
        <div class="cardOa" [style.height]="oa4.cardHeight + 'px'">
          {{oa4.descripcion}}
        </div>
        <div class="cardOaname">
          <b>{{oa4.nombre}}</b>
          <i class="bi bi-chevron-down" (click)="expandCard(i, 4)"></i>
          <a href="#/mapas/{{idRed}}"><i class="bi bi-pin-map-fill"></i> Ver en el Mapa</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>5° BÁSICO</b>
      </div>
      <div *ngFor="let oa5 of oasMapa5; let i = index">
        <div class="cardOa" [style.height]="oa5.cardHeight + 'px'">
          {{oa5.descripcion}}
        </div>
        <div class="cardOaname">
          <b>{{oa5.nombre}}</b>
          <i class="bi bi-chevron-down" (click)="expandCard(i, 5)"></i>
          <a href="#/mapas/{{idRed}}"><i class="bi bi-pin-map-fill"></i> Ver en el Mapa</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>6° BÁSICO</b>
      </div>
      <div *ngFor="let oa6 of oasMapa6; let i = index">
        <div class="cardOa" [style.height]="oa6.cardHeight + 'px'">
          {{oa6.descripcion}}
        </div>
        <div class="cardOaname">
          <b>{{oa6.nombre}}</b>
          <i class="bi bi-chevron-down" (click)="expandCard(i, 6)"></i>
          <a href="#/mapas/{{idRed}}"><i class="bi bi-pin-map-fill"></i> Ver en el Mapa</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="mySidenav" class="sidenav" [style.width]="sidenavwidth + 'px'">
  <a href="#/objetivos/1">Números</a>
  <a href="#/objetivos/1">Campo Aditivo</a>
  <a href="#/objetivos/1">Campo Multiplicativo</a>
  <a href="#/objetivos/1">Patrones y Álgebra</a>
  <a href="#/objetivos/1">Medición</a>
  <a href="#/objetivos/1">Geometría</a>
  <a href="#/objetivos/1">Datos y Probabilidades</a>
</div>