<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="row n">
    <div class="col-md-6 logo">
      <img src="assets/logo.png" />
      <a class="txtlogo align-middle">MATEMATICA EN RUTA</a>
  </div>
    <div class="col-md-2">
      <span></span>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control float-end form-rounded" placeholder="Buscar" />
    </div>
      <div class="col-md-1">
        <a class="btn-mer-blanco float-end" href="#">Registrarse</a>
      </div>
      <div class="col-md-1">
        <a class="btn-mer float-start" href="#"><b>Ingresa</b></a>
      </div>
</div>
<div class="row subheader">
  <div class="col-md-6">
    <b><i class="bi bi-list colprin" (click)="openNav()"></i> Patrones y Álgebra</b>
  </div>
  <div class="col-md-6 float-end align-middle">
    <i class="bi bi-gear-fill float-end iconsize align-middle"></i>
    <i class="bi bi-basket float-end iconsize align-middle"></i> 
  </div>
</div>
<div class="main">
  <div class="row">
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>1° BÁSICO</b>
      </div>
      <div class="cardOa" [style.height]="cardOaHeight + 'px'">
        Demostrar que comprende la multiplicación:

        · Usando representaciones concretas y pictóricas
        · Expresando una multiplicación como una adición de sumandos iguales
        · Usando la distributividad como estrategia para construir las tablas del 2, del 5 y del 10
        · Resolviendo problemas que involucren las tablas del 2, del 5 y del 10.
      </div>
      <div class="cardOaname">
        <b>OA2</b>
        <i class="bi bi-chevron-down" (click)="expandCard()"></i>
      </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>2° BÁSICO</b>
      </div>
      <div class="cardOa">
        Demostrar que comprenden la multiplicación
    </div>
    <div class="cardOaname">
      <b>OA2</b>
      <i class="bi bi-chevron-down"></i>
    </div>
    <div class="cardOa">
      Demostrar que comprenden la multiplicación
  </div>
  <div class="cardOaname">
    <b>OA2</b>
    <i class="bi bi-chevron-down"></i>
  </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>3° BÁSICO</b>
      </div>
      <div class="cardOa">
        Demostrar que comprenden la multiplicación
    </div>
    <div class="cardOaname">
      <b>OA2</b>
      <i class="bi bi-chevron-down"></i>
    </div>
    <div class="cardOa">
      Demostrar que comprenden la multiplicación
  </div>
  <div class="cardOaname">
    <b>OA2</b>
    <i class="bi bi-chevron-down"></i>
  </div>
  <div class="cardOa">
    Demostrar que comprenden la multiplicación
  </div>
  <div class="cardOaname">
    <b>OA2</b>
    <i class="bi bi-chevron-down"></i>
  </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>4° BÁSICO</b>
      </div>
      <div class="cardOa">
        Demostrar que comprenden la multiplicación
    </div>
    <div class="cardOaname">
      <b>OA2</b>
      <i class="bi bi-chevron-down"></i>
    </div>
    <div class="cardOa">
      Demostrar que comprenden la multiplicación
  </div>
  <div class="cardOaname">
    <b>OA2</b>
    <i class="bi bi-chevron-down"></i>
  </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>5° BÁSICO</b>
      </div>
    </div>
    <div class="col-md-2">
      <div class="headerObjetivos">
        <b>6° BÁSICO</b>
      </div>
    </div>
  </div>
</div>
<div id="mySidenav" class="sidenav" [style.width]="sidenavwidth + 'px'">
  <a href="#/objetivos/1">Números</a>
  <a href="#/objetivos/1">Campo Aditivo</a>
  <a href="#/objetivos/1">Campo Multiplicativo</a>
  <a href="#/objetivos/1">Patrones y Álgebra</a>
  <a href="#/objetivos/1">Medición</a>
  <a href="#/objetivos/1">Geometría</a>
  <a href="#/objetivos/1">Datos y Probabilidades</a>
</div>