<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="row n">
    <div class="col-md-6 logo">
      <img src="assets/logo.png" />
      <a class="txtlogo align-middle">MATEMATICA EN RUTA</a>
  </div>
    <div class="col-md-2">
      <span></span>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control float-end form-rounded" placeholder="Buscar" />
    </div>
      <div class="col-md-1">
        <a class="btn-mer-blanco float-end" href="#">Registrarse</a>
      </div>
      <div class="col-md-1">
        <a class="btn-mer float-start" href="#"><b>Ingresa</b></a>
      </div>
</div>
<div class="row subheader">
  <div class="col-md-6">
    <b><i class="bi bi-list colprin" (click)="openNav()"></i> {{nombreSeccionActiva}}</b>
  </div>
  <div class="col-md-6 float-end align-middle">
    <i class="bi bi-gear-fill float-end iconsize align-middle"></i>
    <i class="bi bi-basket float-end iconsize align-middle"></i> 
  </div>
</div>
<div class="main">
<div *ngIf="showLoading" id="loading"><br /><br /><br /><br /><br />
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
  Cargando...
</div>
<div id="zonamapa" [style.background-image]="'url(' +backgroundMapa +')'">
  <div *ngFor="let oa of oasMapa; let i = index" class="textoOa" [style.left]="xMapa[i] + 'px'" [style.top]="yMapa[i] + 'px'" (click)="cargarHijos(i)"><p>{{oa.descripcion}}</p></div>
</div>
<div *ngIf="sideBarHijosAbierto" class="sideBarHijos col-md-1" [style.width]="sideBarHijosWidth + 'px'">
  <div id="sideBarContentLoading" *ngIf="sideBarContentLoading">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
    Cargando...
  </div>
  <div id="sideBarContent" *ngIf="!sideBarContentLoading">
    <h3 style="padding-left:10px;"><b>Tareas Matemáticas</b></h3>
    <div class="sideBarHijo" *ngFor="let hijo of hijosOaSeleccionado; let i = index" (click)="mostrarActividades(hijo.id)" >
      <div class="sideBarHijoDescripcion">{{hijo.descripcion}}</div>
      <div class="sideBarHijoBoton"><a><h3><b>></b></h3></a></div>
    </div>
    <button class="btn btn-mer-blanco" (click)="cerrarSidebarHijjos()">Cerrar</button>
  </div>
</div>
<div *ngIf="sideBarActividadesAbierto" class="sideBarActividades col-md-1" [style.width]="sideBarActividadesWidth + 'px'">
  <div id="sideBarContentLoading" *ngIf="sideBarContentLoading">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
    Cargando...
  </div>
  <div id="sideBarContent">
    <h3 style="padding-left:10px;"><b>Actividades</b></h3>
    <div class="sideBarHijoActividades" *ngFor="let actividad of actividades; let i = index" [ngStyle]="{'background-image':' url(' + actividad?.imagenReferencia + ')', 'box-shadow':' inset 0 0 0 2000px rgba(0, 0, 0, 0.7)','background-size':'cover'}" [ngStyle]="">
      {{actividad.ubicacionEnLibro}}
      <!--<div class="sideBarHijoDescripcionActividades">{{actividad.descripcionActividad}}</div>
      <div class="sideBarHijoBotonActividades"><a href="#"><h3><b>></b></h3></a></div>-->
    </div>
    <button class="btn btn-mer-blanco" (click)="cerrarSidebarActividades()">Cerrar</button>
  </div>
</div>
</div>
<div id="mySidenav" class="sidenav" [style.width]="sidenavwidth + 'px'">
  <a href="#/objetivos/1">Números</a>
  <a href="#/objetivos/2">Campo Aditivo</a>
  <a href="#/objetivos/3">Campo Multiplicativo</a>
  <a href="#/objetivos/4">Patrones y Álgebra</a>
  <a href="#/objetivos/5">Medición</a>
  <a href="#/objetivos/6">Geometría</a>
  <a href="#/objetivos/7">Datos y Probabilidades</a>
</div>