<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="row n">
  <div class="col-md-6 logo" [routerLink]="['/']">
      <img src="assets/logo.png" />
      <a class="txtlogo align-middle">MATEMATICA EN RUTA</a>
    </div>
    <div class="col-md-6" *ngIf="!usersService.isLoggedIn()">
      <a class="btn-mer float-end" (click)="levantarLogin()"><b>Ingresa</b></a>
    </div>
    <div class="col-md-6" *ngIf="usersService.isLoggedIn()">
      <a class="btn-mer float-end" [routerLink]="['/logout']"><b>Cerrar Sesión</b></a>
    </div>
</div>
<div class="row subheader subhmapa">
  <div class="col-md-6">
    <b><i class="bi bi-list colprin" (click)="openNav()"></i> {{nombreSeccionActiva}}</b>
  </div>
  <div class="col-md-6">
    <div class="btnrutasimg float-end" (click)="mostrarRutas()">
      <p class="float-end" *ngIf="!sideBarRutasAbierto">{{numeroActividadesEnRuta}} rutas seleccionadas</p>
      <p class="float-end" *ngIf="sideBarRutasAbierto">Cerrar Rutas</p>
      <img *ngIf="!sideBarRutasAbierto" class="iconitomapa float-end" src="assets/map.png" />
      <img *ngIf="sideBarRutasAbierto" class="iconitomapa float-end" src="assets/close.png" />
    </div>
  </div>
</div>
<div class="main">
<div *ngIf="showLoading" id="loading"><br /><br /><br /><br /><br />
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
  Cargando...
</div>
<div id="zonamapa" [style.background-image]="'url(' +backgroundMapa +')'">
  <div *ngFor="let oa of oasMapa; let i = index" class="textoOa" [style.left]="xMapa[i] + 'px'" [style.top]="yMapa[i] + 'px'" (click)="cargarHijos(i)"><p>{{oa.descripcion}}</p></div>
</div>
</div>
<div id="mySidenav" class="sidenav" [style.width]="sidenavwidth + 'px'">
  <a href="#/objetivos/1">Números</a>
  <a href="#/objetivos/2">Campo Aditivo</a>
  <a href="#/objetivos/3">Campo Multiplicativo</a>
  <a href="#/objetivos/4">Patrones y Álgebra</a>
  <a href="#/objetivos/5">Medición</a>
  <a href="#/objetivos/6">Geometría</a>
  <a href="#/objetivos/7">Datos y Probabilidades</a>
</div>
<div *ngIf="sideBarHijosAbierto" class="sideBarHijos col-md-1" [style.width]="sideBarHijosWidth + 'px'">
  <div id="sideBarContentLoading" *ngIf="sideBarContentLoading">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
    Cargando...
  </div>
  <div id="sideBarContent" *ngIf="!sideBarContentLoading">
    <h3 style="padding-left:10px;"><b>Tareas Matemáticas</b></h3>
    <div class="sideBarHijo" *ngFor="let hijo of hijosOaSeleccionado; let i = index" (click)="mostrarActividades(hijo.id)" >
      <div class="sideBarHijoDescripcion">{{hijo.descripcion}}</div>
      <div class="sideBarHijoBoton"><a><h3><b>></b></h3></a></div>
    </div>
    <button class="btn btn-mer-blanco" (click)="cerrarSidebarHijjos()">Cerrar</button>
  </div>
</div>
<div *ngIf="sideBarActividadesAbierto" class="sideBarActividades col-md-1" [style.width]="sideBarActividadesWidth + 'px'">
  <div id="sideBarContentLoading" *ngIf="sideBarContentLoading">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
    Cargando...
  </div>
  <div id="sideBarContent">
    <h3 style="padding-left:10px;"><b>Actividades</b></h3>
    <div class="sideBarHijoActividades" *ngFor="let actividad of actividades; let i = index" [ngStyle]="{'background-image':' url(' + actividad?.imagenReferencia + ')', 'box-shadow':' inset 0 0 0 2000px rgba(0, 0, 0, 0.7)','background-size':'cover'}" [ngStyle]="">
      <div class="sideBarHijoActividadesBoton">
        <img *ngIf="!actividad.seleccionado" src="assets/icon1w.png" height="25px" width="25px" (click)="seleccionarActividad(i, true)"/>
        <img *ngIf="actividad.seleccionado" src="assets/icon2w.png" height="25px" width="25px" (click)="seleccionarActividad(i, false)"/>
      </div>
      <div class="sideBarHijoActividadesDescripcion" (click)="clickActividades(i)">{{actividad.ubicacionEnLibro}}</div>
    </div>
    <button class="btn btn-mer-blanco" (click)="cerrarSidebarHijjos()">Cerrar</button>
  </div>
</div>
<div id="pantallaNegra" class="pantallaNegra" *ngIf="mostrandoDetalleActividad" (click)="cerrarDetalleActividad()">
  <div id="visualizarActividad" class="visualizarActividad" *ngIf="mostrandoDetalleActividad">
    <h3><b>Detalle de Actividad</b></h3>
    <table style='border-collapse:collapse;table-layout:auto;width:100%'>
      <tr>
        <td><b>Ubicación en Libro</b></td>
        <td>{{actividadSeleccionada.ubicacionEnLibro}}</td>
      </tr>
      <tr>
        <td><b>Descripción</b></td>
        <td>{{actividadSeleccionada.descripcionActividad}}</td>
      </tr>
      <tr>
        <td><b>Link de Referencia</b></td>
        <td><a href="{{actividadSeleccionada.linkReferencia}}">{{actividadSeleccionada.linkReferencia}}</a></td>
      </tr>
      <tr>
        <td><b>Imagen de Referencia</b></td>
        <td></td>
      </tr>
    </table>
    <div>
      <img [src]="actividadSeleccionada.imagenReferencia" style="width:100%;" />
    </div>
  </div>
</div>
<div class="sidebarRuta" *ngIf="sideBarRutasAbierto && !mostrarMenuUsuario">
  <div class="sidebarRutaHeader">
    <div class="sidebarRutaHeaderTitulo">MIS RUTAS</div>
    <div class="sidebarRutaHeaderBoton" *ngIf="actividadesEnRuta.length > 0" (click)="limpiarRutas()"><img src="assets/create.png" height="20px" width="20px"/> Limpiar/Crear Ruta</div>
    <div class="sidebarRutaHeaderBoton pdf" (click)="exportarPDF()" *ngIf="actividadesEnRuta.length > 0"><img src="assets/print.png" height="20px" width="20px"/> Exportar a PDF</div>
    <div class="sidebarRutaHeaderBoton" *ngIf="usersService.isLoggedIn()" (click)="mostrarMenuUsuario = true"><img src="assets/settings.png" height="20px" width="20px"/> Administrar Rutas</div>
  </div>
  <div class="sidebarRutaInfo" *ngIf="actividadesEnRuta.length == 0">Aun no se han agregado rutas</div>
  <div class="sidebarRutaItemsContainer">
    <div class="itemRuta" *ngFor="let ar of actividadesEnRuta; let i = index">
      <div class="infoOa"><b>{{ar.ruta}}</b></div>
      <div class="zonaTexto">
        <div class="itemRutaTexto">
          {{ar.descripcionActividad}}<br />
          <b>{{ar.ubicacionEnLibro}}</b>
        </div>
      </div>
      <div class="zonaOrden">
        <img src="assets/Polygon1.svg" height="20px" width="20px" (click)="ordenar(i, 'up')"/><br />
        {{i + 1}}<br />
        <img src="assets/Polygon2.svg" height="20px" width="20px" (click)="ordenar(i, 'down')"/><br /><br />
        <img class="btnojo" src="assets/ojo.svg" height="30px" width="30px" (click)="clickActividadesOjo(i)"/>
        <img class="btntacho" src="assets/tacho.svg" height="30px" width="30px" (click)="eliminarActividadEnRuta(i)"/>
      </div>
    </div>
  </div>
</div>
<div id="menuUsuario" class="sidebarRuta" *ngIf="mostrarMenuUsuario">
  <div class="sidebarRutaHeader">
    <div class="sidebarRutaHeaderTitulo">Administrar Rutas</div>
    <div class="sidebarRutaHeaderBoton" (click)="mostrarMenuUsuario = false"><img src="assets/close.png" height="20px" width="20px"/> Cerrar</div>
  </div>
  <div class="sidebarRutaInfo">
    <div class="sidebarRutaInfoBoton marginMargin" (click)="saveRuta()"><img src="assets/cloud.png" height="20px" width="20px" /> Guardar en la Nube</div>
    <div class="sidebarRutaInfoBoton marginMargin" (click)="loadRuta()"><img src="assets/cloud.png" height="20px" width="20px" />Cargar desde la Nube</div>
    <div class="sidebarRutasDesdeBd" *ngIf="rutasDesdeBd.length > 0">
      <div class="sidebarRutasDesdeBdItem" *ngFor="let r of rutasDesdeBd; let i = index" (click)="loadRutaDesdeBd(i)">
        <div class="sidebarRutasDesdeBdItemTitulo">{{r.nombre}}</div>
        <div class="btnEliminar"><img class="btntacho" src="assets/tacho.svg" height="30px" width="30px" (click)="eliminarRutaServer(i)"/></div>
      </div>
    </div>
  </div>
  
</div>