  .main {
    width: 100%;
    min-height: 100vh;
    margin-top: 149px;
  }
  
  .welcome {
    background-color: #F2F2F2;
    height: 55vh;
    border-radius: 1rem;
    position: absolute;
    top: 20%;
  }
  
  .leadin {
    color: #005A6C;
    font-family: 'Nunito Sans';
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .welcometxt {
    color: #005A6C;
    font-family: 'Nunito Sans';
    margin-left: 10%;
    margin-top: 20px;
    font-size: 55px;
    line-height: 54px;
    font-weight: 900 !important;
  }
  
  .textotxt {
    margin-top: 30px;
    margin-left: 10%;
    font-family: 'Nunito';
    color: #999999;
    font-size: 18px;
  }
  
  .masinfobtn {
    margin-top: 30px;
    margin-left: 10%;
    font-family: 'Nunito';
    color: #005A6C;
    border: 2px solid #005A6C;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 20px;
  }
  
  .masinfo {
    text-decoration: none;
    color: #005A6C;
    font-size: 18px;
  }
  
  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 149px;
    top: 0;
    left: 0;
    background-color: #005A6C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 65px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Nunito Sans';
    color: #8CB5BD;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #zonamapa {
    width: 8000px;
    height: 5500px;
    background-image: url("../../assets/Recurso2.svg");
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
    overflow: unset;
    padding: 0;
    padding-top: 400px;
  }

  .cuadrito1 {
    background-color: red;
    padding: 20px;
    text-align: center;
    margin: 10px solid black;
    height: 100px;
    width: 100px;
  }

  .cuadrito2 {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 10px solid black;
    height: 100px;
    width: 100px;
  }

  .blanco_anterior {
    background-color: white;
    height: 120px;
    width: 250px;
    padding: 20px;
    text-align: center;
    border: 2px dashed blue;
  }

  .verde {
    background-color: #c4e0b2;
    height: auto;
    width: 250px;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
    /*text-align: center;
    /*border: 2px solid black;*/
  }

  #loading {
    width: 100%;
    min-height: 100vh;
    background-color: #00000080;
    color:white;
    text-align: center;
    vertical-align: center;
    border-radius: 15px 15px 15px 15px;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .textoOa {
    position: absolute;
    text-align: left;
    font-size: 30px;
    white-space: pre-line;
  }

  .sideBarHijos {
    height: 100%;
    margin-top: 149px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    background-color: #F2F2F2;
    position: fixed;
    z-index: 1;
  }
  
  .sideBarHijos h3 {
    font-family: 'Nunito Sans';
    color: #003D52;
  }
  
  #sideBarContentLoading {
    text-align: center;
    padding-top: 80px;
  }

  #sideBarContent {
    font-family: 'Nunito Sans';
    color: #005A6C;
    overflow-y: auto;
    transition: 0.5s;
  }

  .sideBarHijo {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E6E6E6;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sideBarHijo:hover {
    background-color: #E6E6E6;
  }

  .sideBarHijo a {
    text-decoration: none;
    color: #005A6C;
    text-align: center;
  }

  .sideBarHijoDescripcion {
    width:90%;
    display: inline-block;
    vertical-align: middle;
  }

  .sideBarHijoBoton {
    width:10%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .sideBarActividades {
    height: 100%;
    margin-top: 149px;
    top: 0;
    left: 400px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    background-color: #F2F2F2;
    position: fixed;
    z-index: 95;
    border-left: 2px solid #E6E6E6;
  }

  .sideBarActividades h3 {
    font-family: 'Nunito Sans';
    color: #003D52;
  }

  .sideBarHijoActividades {
    background-color: black;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    height: 200px;
    color: white;
    display: flex;
    align-items: flex-end;
    z-index: 95;
  }

  .shadow {
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  }

  .selectedItemHijos {
    background-color: #E6E6E6;
  }

  #visualizarActividad {
    background-color: white;
    color: #005A6C;
    font-family: 'Nunito Sans';
    overflow-y: scroll;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    width: 800px;
    height: 400px;
    z-index: 99;
  }

  #pantallaNegra {
    background-color: #00000080;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 98;
    display: flex; 
    justify-content: center; 
    align-items: center
  }

  #pantallaNegra2 {
    background-color: #00000080;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 90;
    display: flex; 
    justify-content: center; 
    align-items: center
  }

  .sidebarRuta {
    height: 500px;
    width: 500px;
    margin-top: 149px;
    top: 30px;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 30px;
    background-color: #005A6C;
    position: fixed;
    z-index: 97;
    border-radius: 20px 0px 0px 20px;
    color: white;
  }

  .sidebarRutaHeader {
    width: 500px;
    height: 80px;
    position: fixed;
    background-color: #005A6C;
    z-index: 98;
    top: 179px;
    padding-top: 30px;
    border-radius: 20px 20px 0px 0px;
  }

  .sidebarRutaHeaderTitulo {
    width: 230px;
    font-family: 'Nunito Sans';
    color: #8CB5BD;
    padding-left: 30px;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    float: left;
  }

  .sidebarRutaHeaderBoton {
    top: 10px;
    font-size: 12px;
    width: 150px;
    float: right;
    padding-right:15px;
    padding-top:3px;
    padding-bottom: 3px;
    text-align: end;
    margin-right: 20px;
    border: 2px solid #8CB5BD;
    border-radius: 20px;
    color: #8CB5BD;
  }

  .pdf {
    padding-right: 25px;
  }

  .sidebarRutaHeaderBoton:hover {
    border: 2px solid white;
    color: white;
  }

  .itemRuta {
    margin: 30px;
    padding-bottom: 10px;
    border: 2px solid #8CB5BD;
    padding-right: 20px;
    border-radius: 20px 20px 20px 20px;
    height: 185px;
    overflow-y: scroll;
  }

  .infoOa {
    text-align: center;
    width: 100px;
    border: 3px solid #8CB5BD;
    border-radius: 20px 20px 20px 20px;
    top: 0;
    background-color: #003D52;
  }

  .zonaTexto {
    height: 100%;
    width: 80%;
    padding-left: 20px;
    overflow-y: auto;
    float: left;
    clear:both;
  }

  .zonaOrden {
    width: 20%;
    height: 100%;
    float: right;
    padding-left: 20px;
    text-align: center;
  }

  .btnojo .btntacho :hover {
    color: white;
  }

  .botonera {
    position: relative;
    bottom: 0;
  }

  .sidebarRutaInfo {
    margin-top: 100px;
    color:#8CB5BD;
    text-align: center;
  }

  .marginMargin {
    margin-left: 150px;
  }

  .sidebarRutaItemsContainer {
    margin-top: 70px;
  }

  .iconitomapa {
    height: 30px;
    width: 30px;
  }

  .subhmapa {
    height: 60px;
  }

  .btnrutasimg {
    padding:0px;
    margin:0px;
    height: 35px;
    width: 250px;
    padding-right: 22px;
    padding-top: 2px;
    padding-bottom: 5px;
    border: 2px solid #999;
    border-radius: 20px;
  }

  .btnrutasimg:hover {
    border: 2px solid #005A6C;
    color: #005A6C;
  }

  .sidebarRutaInfoBoton {
    padding: 10px;
    border: 2px solid #8CB5BD;
    border-radius: 20px;
    color: #8CB5BD;
    margin-top: 20px;
    width: 200px;
  }

  .sidebarRutaInfoBoton:hover {
    border: 2px solid white;
    color: white;
  }