<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="row n">
    <div class="col-md-6 logo">
      <img src="assets/logo.png" />
      <a class="txtlogo align-middle">MATEMATICA EN RUTA</a>
  </div>
    <div class="col-md-2">
      <span></span>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control float-end form-rounded" placeholder="Buscar" />
    </div>
      <div class="col-md-1">
        <a class="btn-mer-blanco float-end" href="#">Registrarse</a>
      </div>
      <div class="col-md-1">
        <a class="btn-mer float-start" href="#"><b>Ingresa</b></a>
      </div>
</div>
<div class="row subheader">
  <div class="col-md-6">
    <b><i class="bi bi-list colprin" (click)="openNav()"></i> Redes Evolutivas</b>
  </div>
  <div class="col-md-6 float-end align-middle">
    <i class="bi bi-gear-fill float-end iconsize align-middle"></i>
    <i class="bi bi-basket float-end iconsize align-middle"></i> 
  </div>
</div>
<div *ngIf="showLoading" id="loading"><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div><br />
  Cargando...
</div>
<div id="zonamapa">
  <div class="row">
    <div class="col-md-1 justify-content-md-end">
      <div *ngFor="let oa1 of oasMapa1">
        <div class="verde" style="margin-top: 140px;margin-left: 800px;">
          <b>{{oa1.nombre}}</b><br>
          {{oa1.descripcion}}
        </div>
      </div>
    </div>
    <div class="col-md-1 justify-content-md-end">
      <div *ngFor="let oa2 of oasMapa2">
        <div class="verde" style="margin-top: 140px;margin-left: 1350px;">
          <b>{{oa2.nombre}}</b><br>
          {{oa2.descripcion}}
        </div>
      </div>
    </div>
    <div class="col-md-1 justify-content-md-end">
      <div *ngFor="let oa3 of oasMapa3">
        <div class="verde" style="margin-top: 140px;margin-left: 2200px;">
          <b>{{oa3.nombre}}</b><br>
          {{oa3.descripcion}}
        </div>
      </div>
    </div>
    <div class="col-md-1 justify-content-md-end">
      <div *ngFor="let oa4 of oasMapa4">
        <div class="verde" style="margin-top: 140px;margin-left: 3000px;">
          <b>{{oa4.nombre}}</b><br>
          {{oa4.descripcion}}
        </div>
      </div>
    </div>
    <div class="col-md-1 justify-content-md-end">
      <div *ngFor="let oa5 of oasMapa5">
        <div class="verde" style="margin-top: 140px;margin-left: 3800px;">
          <b>{{oa5.nombre}}</b><br>
          {{oa5.descripcion}}
        </div>
      </div>
    </div>
    <div class="col-md-1 justify-content-md-end">
      <div *ngFor="let oa6 of oasMapa6">
        <div class="verde" style="margin-top: 140px;margin-left: 4000px;">
          <b>{{oa6.nombre}}</b><br>
          {{oa6.descripcion}}
        </div>
      </div>
    </div>
    <!--<div class="col-md-1">
      <svg width="500" height="500"><line x1="0" y1="50" x2="150" y2="50" stroke="black"/></svg>
    </div>
   -->
  </div>
</div>
<div id="mySidenav" class="sidenav" [style.width]="sidenavwidth + 'px'">
  <a href="#/objetivos/1">Números</a>
  <a href="#/objetivos/2">Campo Aditivo</a>
  <a href="#/objetivos/3">Campo Multiplicativo</a>
  <a href="#/objetivos/4">Patrones y Álgebra</a>
  <a href="#/objetivos/5">Medición</a>
  <a href="#/objetivos/6">Geometría</a>
  <a href="#/objetivos/7">Datos y Probabilidades</a>
</div>