<div class="container">
  <div *ngIf="loadingVisible">
    <mat-spinner class="center"></mat-spinner>
  </div>
  <br />
  <div class="row">
      <div class="col-md-12">
        <h1 mat-dialog-title>{{ titulo }}</h1>
      </div>
  </div>
  <br />
  <form class="custom-form mx-auto" method="post">
    <div class="row">
      <div class="col-md-6">
        <label for="nombre" name="nombreLabel" class="float-end">
            Nombre
        </label>
        </div>
        <div class="col-md-6">
        <input
        type="text"
        [(ngModel)]="dto.nombre"
        name="nombre"
        placeholder="Nombre"
        required="required" class="col-md-6"
        />
        </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <label for="txtOa" name="txtOaLabel" class="float-end">
            Tarea Matemática asociada<br />
            <div *ngIf="listaFiltrada == true" style="color:gray;">(Lista filtrada.<br /> Utilice el buscador para <br />encontrar todas las tareas<br /> matemáticas.)</div>
          </label>
        </div>
        <div class="col-md-6">
          <input class="col-md-6" type="text" name="search" id="search" [ngModel]="searchText" (ngModelChange)="searchKey($event)" placeholder="Filtrar lista de TMs..." ngModel>
          <div class="col-md-6">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group" >
              <div class="row" *ngFor="let tm of tmsFiltrados; let i = index"> <!-- for acá? -->
                <mat-radio-button class="example-radio-button" [value]="tm.id" [checked]="tmSeleccionado === tm.id" (change)="radioChange($event);" *ngIf="i < 5">
                  TM-{{tm.id}} - {{tm.codigoOa}}: {{tm.descripcion}}
                </mat-radio-button><br />
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="libro" name="libroLabel" class="float-end">
              Libro de Referencia
            </label>
          </div>
          <div class="col-md-6">
              <!--<select [(ngModel)]="dto.idLibro" class="col-md-6" name="idLibro">
                  <option *ngFor="let l of libros" [ngValue]="l.id" [selected]="libroSeleccionado === l.id" >{{l.nombre}}</option>
              </select>-->
              <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group" >
              <div class="row" *ngFor="let l of libros"> <!-- for acá? -->
                <mat-radio-button class="example-radio-button" [value]="l.id" [checked]="libroSeleccionado === l.id" (change)="radioLibroChange($event);">
                  {{l.nombre}}
                </mat-radio-button><br />
              </div>
            </mat-radio-group>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <label for="ubicacionEnLibro" name="ubicacionEnLibroLabel" class="float-end">
            Ubicación en libro<br/>(Descripción, Texto, Volumen, Página)
        </label>
        </div>
        <div class="col-md-6">
        <textarea
        type="text"
        [(ngModel)]="dto.ubicacionEnLibro"
        name="ubicacionEnLibro"
        placeholder=""
        required="required" class="col-md-6"
        ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <label for="descripcionActividad" name="descripcionActividadLabel" class="float-end">
            Descripción de la Actividad
        </label>
        </div>
        <div class="col-md-6">
        <textarea
        type="text"
        [(ngModel)]="dto.descripcionActividad"
        name="descripcionActividad"
        placeholder=""
        required="required" class="col-md-6"
        ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <label for="linkReferencia" name="linkReferenciaLabel" class="float-end">
            Link de Referencia
        </label>
        </div>
        <div class="col-md-6">
        <input
        type="text"
        [(ngModel)]="dto.linkReferencia"
        name="linkReferencia"
        placeholder=""
        required="required" class="col-md-6"
        />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        <label for="imagenReferencia" name="imagenReferenciaLabel" class="float-end">
            Imagen de Referencia
        </label>
        </div>
        <div class="col-md-6">
          <input type="file" (change)="CreateBase64String($event)" class="fileInputProfile form-control"  class="col-md-6">
        </div>
      </div>
      <div class="row" *ngIf="tieneImagen">
        <div class="col-md-6">
        <label for="imagenReferencia" name="imagenReferenciaLabel" class="float-end">
            Imagen Actual
        </label>
        </div>
        <div class="col-md-6">
          <img [src]="imgActual" class="miniaturaImg">
        </div>
      </div>
    <br />

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-dark float-end" type="submit" (click)="guardarActividad()"><i class="bi bi-save"></i> Guardar Actividad</button>
      </div>
      <div class="col-md-6">
        <button mat-button mat-dialog-close class="btn btn-danger" type="submit"><i class="bi bi-x"></i> Cancelar</button>
      </div>
    </div>
    </form>
    <br />
</div>