<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="row n">
    <div class="col-md-6 logo" [routerLink]="['/']">
      <img src="assets/logo.png" />
      <a class="txtlogo align-middle">MATEMATICA EN RUTA</a>
    </div>
    <div class="col-md-2">
      <span></span>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control float-end form-rounded" placeholder="Buscar" />
    </div>
      <div class="col-md-1">
        <a class="btn-mer-blanco float-end" href="#">Registrarse</a>
      </div>
      <div class="col-md-1">
        <a class="btn-mer float-start" href="#"><b>Ingresa</b></a>
      </div>
</div>
<div class="row subheader">
  <div class="col-md-6">
    <b><i class="bi bi-list colprin" (click)="openNav()"></i> Redes Evolutivas</b>
  </div>
  <div class="col-md-6 float-end align-middle">
  </div>
</div>
<div class="main">
  <span>.</span>
  <div class="row">
    <div class="col-md-10 offset-md-1 welcome">
      <div class="row">
        <div class="col-md-6">
          <div class="leadin">
            <b>¡BIENVENIDOS Y BIENVENIDAS!</b>
          </div>
          <div class="welcometxt">
            <b>Redes Evolutivas de Aprendizajes Matemáticos</b>
          </div>
          <div class="textotxt">
            Los invitamos a conocer y trabajar con las Redes Evolutivas 
            de Aprendizajes Matemáticos (REAM). <br />
            El propósito de las REAM es ayudar a las y los docentes a 
            diseñar secuencias de tareas matemáticas que permitan a 
            sus estudiantes alcanzar los Objetivos de Aprendizaje.  
          </div>
          <div class="col-md-4 masinfobtn align-center">
            <a class="masinfo align-middle"><b>Más Información <i class="bi bi-play-fill"></i></b></a>
          </div>
        </div>
        <div class="col-md-6"><br /><br /><br />
          <img class="img-welcome" src="assets/unsplash_N_aihp118p8.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div id="mySidenav" class="sidenav" [style.width]="sidenavwidth + 'px'">
  <a href="#/objetivos/1">Números</a>
  <a href="#/objetivos/2">Campo Aditivo</a>
  <a href="#/objetivos/3">Campo Multiplicativo</a>
  <a href="#/objetivos/4">Patrones y Álgebra</a>
  <a href="#/objetivos/5">Medición</a>
  <a href="#/objetivos/6">Geometría</a>
  <a href="#/objetivos/7">Datos y Probabilidades</a>
</div>