.main {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/bg.png");
  background-size: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  margin-top: 140px;
}

.welcome {
  background-color: #F2F2F2;
  height: 590px;
  border-radius: 1rem;
  position: absolute;
  margin-top: 20px;
  padding-right: 20px;
}

.leadin {
  color: #005A6C;
  font-family: 'Nunito Sans';
  margin-left: 10%;
  margin-top: 10%;
}

.welcometxt {
  color: #005A6C;
  font-family: 'Nunito Sans';
  margin-left: 10%;
  margin-top: 20px;
  font-size: 55px;
  line-height: 54px;
  font-weight: 900 !important;
}

.textotxt {
  margin-top: 30px;
  margin-left: 10%;
  font-family: 'Nunito';
  color: #999999;
  font-size: 18px;
}

.masinfobtn {
  margin-top: 30px;
  margin-left: 10%;
  font-family: 'Nunito';
  color: #005A6C;
  border: 2px solid #005A6C;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 20px;
}

.masinfo {
  text-decoration: none;
  color: #005A6C;
  font-size: 18px;
}

.img-welcome {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-left: 10px;
}