/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.n {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    background-color: #F2F2F2;
    position: fixed;
    min-width:100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .subheader {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    background-color: #E6E6E6;
    font-family: 'Nunito';
    color: #999999;
    font-size: 18px;
    position: fixed;
    min-width:100%;
    top: 89px;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .form-rounded {
    border-radius: 1rem;
    }
  
  .b {
    font-family: 'Nunito Sans';
  }
  
  .logo {
    color: #005A6C;
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 1000;
    letter-spacing: 5px;
  }
  
  .btn-mer {
    font-family: 'Nunito Sans';
    text-decoration: none;
    color: white;
    background-color: #005A6C;
    padding-left: 35px;
    padding-right: 35px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 20px;
  }
  
  .btn-mer-blanco {
    font-family: 'Nunito Sans';
    text-decoration: none;
    color: #999999;
    padding-left: 35px;
    padding-right: 35px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 20px;
  }
  
  .txtlogo {
    text-decoration: none;
    color: #005A6C;
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 1000;
    letter-spacing: 5px;
    padding-left: 10px;
    padding-top:10px;
  }
  
  .colprin {
    color: #005A6C;
  }
  
  .iconsize {
    font-size: 30px;
  }

  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 140px;
    top: 0;
    left: 0;
    background-color: #005A6C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 75px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Nunito Sans';
    color: #8CB5BD;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }